/* =-= Reset Code =-= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gellix", sans-serif;
  font-size: 1rem;
  color: #1b1e35;
}

h1,
h2,
h3 {
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #1b1e35;
}

img {
  width: 100%;
  height: auto;
}

/* =-= Reuses Class =-= */
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 40px;
}

/* =-= Start Hero Section =-= */
.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero {
  padding: 67px 0 64px;
}

.hero__head {
  max-width: 422px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.hero__date-text {
  display: block;
  max-width: 246px;
  margin: auto;
  padding: 4px 24px;
  border-radius: 60px;
  background: linear-gradient(
      92deg,
      #7c04ff 26.4%,
      #cd3fff 71.91%,
      #e290ff 95.17%
    ),
    #1b1e35;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.24px;
}

.hero__title {
  color: #1b1e35;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4px;
  margin: 12px 0;
}

.hero__subtitle {
  color: #1b1e35;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.hero__subtitle > span {
  border-radius: 60px;
  background: #f00;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 0 12px;
}

.hero__text {
  margin-top: 24px;
  max-width: 720px;
  margin: 24px auto 0;
  text-align: center;
  color: #1b1e35;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* =-= Timeline Section Start =-= */
.timeline__content {
  padding: 91px 27px 0;
  border-radius: 20px;
  background: url("../images/gradiend.png") no-repeat #cbcaff;
  background-size: cover;
  background-position: center center;
}

.timeline__img-wrap {
  width: 100%;
  max-width: 747px;
}

.timeline__img {
  vertical-align: middle;
}

/* =-= Breakdown Section Start =-= */
.breakdown {
  padding: 100px 0;
}

.breakdown__head,
.action__head {
  max-width: 575px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.breakdown__icon,
.action__icon {
  width: 56px;
  height: 56px;
}

.breakdown__title,
.action__title {
  margin-top: 12px;
  color: #1b1e35;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
}

.breakdown__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, minmax(140px, 1fr));
  justify-items: center;
}

.breakdown__item {
  display: flex;
  align-items: center;
}

.item__dot {
  width: 24px;
  height: 24px;
  background-color: #7a00ff;
  border-radius: 8px;
  margin-right: 8px;
}

.color--two {
  background-color: #a24dff;
}

.color--three {
  background-color: #bc80ff;
}

.color--four {
  background-color: #d7b2ff;
}

.breakdown__gd {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  overflow: hidden;
  margin: 40px 0;
}

.breakdown__gd-img {
  object-fit: cover;
}

.breakdown__btn {
  width: 194px;
  height: 48px;
  margin: auto;
  background: url("../images/btnGrd.svg") no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #ead6ff;
}

.btn__arrow-right {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.btn__text {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

/* =-= Action Section Start =-= */
.action {
  padding: 0 0 100px;
}

.action__body {
  max-width: 522px;
  width: 100%;
  margin: 40px auto 0;
}

.action__body-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.action__body-item:last-child {
  margin-bottom: 0;
}

.action__item-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 40px;
  background: rgba(122, 0, 255, 0.16);
  color: rgb(122, 0, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  border-radius: 62px;
  margin-right: 16px;
}

.action__item-text {
  color: #1b1e35;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.action__item-avatar {
  width: 32px;
  height: 32px;
  margin-left: 13px;
}

.color--cyan {
  background-color: rgba(119, 185, 255, 0.31);
  color: #007efd;
}

/* =-= Link Section Start =-= */
.link {
  padding: 0 0 60px;
}

.link__title {
  color: #1b1e35;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
}

.link__list {
  margin-top: 40px;

}

.link__item {
  padding: 12px 19px 19px 12px;
  margin-bottom: 19px;
  border-radius: 19.323px;
  background: rgba(17, 24, 34, 0.05);
}

.link__item:last-child {
  margin-bottom: 0;
}

.link__item-head {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.link__head-title {
  display: flex;
  align-items: center;
}

.link__head-icons {
  width: 38.645px;
  height: 38.645px;
}

.link__head-text {
  color: #0c0c0d;
  font-size: 22.543px;
  font-weight: 600;
  line-height: 32.204px;
  margin: 0 6px 0 12px;
}

.link__head-icon1 {
  width: 25px;
  height: 25px;
}

.link__head-delete {
  width: 25px;
  height: 25px;
}

.link__item-body {
  margin-top: 12px;
  padding-left: 51px;
}

.link__item-property {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.link__item-property > div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.link__item-property:last-child {
  margin-bottom: 0;
}

.link__property {
  margin-right: 38px;
}

.link__value-img {
  width: 25px;
  height: 25px;
}

.link--tag {
  padding: 3px 12px;
  border-radius: 32.204px;
  background: #fee1eb;
  color: #e05d86;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.543px;
  letter-spacing: 0.161px;
}
